<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chilkat-win32" version="9.5.0.80" targetFramework="net461" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
</packages>